body {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

#app {
  margin: 20px;
  display: flex;
}

#letter {
  padding: 20px;
}
#form {
  width: 40%;
}
#letter {
  border: rgb(135, 187, 255) dashed 2px;
  border-radius: 10px;
  width: 60%;
}

#toast {
  margin-left: 10px;
  padding: 10px 50px;
  border-radius: 3px;
  background-color: #8fff98;
  transition: ease-in 0.3s all;
}

.disappear {
  opacity: 0;
}

.appear {
  opacity: 1;
}
